.card-default-bg {
	background-color: var(--color-dark);
}

// Clases para los colores de las 12 temáticas, el nombre de la clase es el ID de airtable

.rec7D7AzMmjvxiFT0 {
	background-color: var(--color-topic-1);
}

.recAvj4ndujtnH2tH {
	background-color: var(--color-topic-2);
}

.recCgNMc7tZLyhUl0 {
	background-color: var(--color-topic-3);
}

.recLQdNP4LDwoZVkq {
	background-color: var(--color-topic-4);
}

.recNPvWBhsmaf4hIY {
	background-color: var(--color-topic-5);
}

.recRu6uZaAmcrRXuu {
	background-color: var(--color-topic-6);
}

.recWAnXNWQk1Mpf4a {
	background-color: var(--color-topic-7);
}

.recX2n1D2CntCf4FD {
	background-color: var(--color-topic-8);
}

.recZMXVp1c1mhRO9w {
	background-color: var(--color-topic-9);
}

.reccZrB7JhAC0O0z0 {
	background-color: var(--color-topic-10);
}

.reclnEDc8CcmhKJ8l {
	background-color: var(--color-topic-11);
}

.recozHYuxaV5ZKhzm {
	background-color: var(--color-topic-12);
}

// Como bordes izquierdos

.border-rec7D7AzMmjvxiFT0 {
	border-left: 16px solid var(--color-topic-1);
}

.border-recAvj4ndujtnH2tH {
	border-left: 16px solid var(--color-topic-2);
}

.border-recCgNMc7tZLyhUl0 {
	border-left: 16px solid var(--color-topic-3);
}

.border-recLQdNP4LDwoZVkq {
	border-left: 16px solid var(--color-topic-4);
}

.border-recNPvWBhsmaf4hIY {
	border-left: 16px solid var(--color-topic-5);
}

.border-recRu6uZaAmcrRXuu {
	border-left: 16px solid var(--color-topic-6);
}

.border-recWAnXNWQk1Mpf4a {
	border-left: 16px solid var(--color-topic-7);
}

.border-recX2n1D2CntCf4FD {
	border-left: 16px solid var(--color-topic-8);
}

.border-recZMXVp1c1mhRO9w {
	border-left: 16px solid var(--color-topic-9);
}

.border-reccZrB7JhAC0O0z0 {
	border-left: 16px solid var(--color-topic-10);
}

.border-reclnEDc8CcmhKJ8l {
	border-left: 16px solid var(--color-topic-11);
}

.border-recozHYuxaV5ZKhzm {
	border-left: 16px solid var(--color-topic-12);
}