/* Variables y constantes de diseño */

// Variables CSS (nativas)
:root {
	/* Colores para elementos base */
	--color-light: #fff;
	--color-dark: #222;

	/* Escalas de grises */
	--color-gray-light: #e5e5e5;
	--color-gray-lighten: #C4C4C4;
	--color-gray-middle: #565656;
	--color-gray-darken: #222;
	--color-gray-dark: #fff;

	/* Colores de fondo */
	--color-background-light: #e5e5e5;
	--color-background-dark: #0a0a0a;

	/* Colores por campos */
	--color-campo-0: #707070;
	--color-campo-1: rgba(128, 190, 50, 1.0);
	--color-campo-2: rgba(27, 20, 100, 1.0);
	--color-campo-3: rgba(240, 108, 33, 1.0);
	--color-campo-4: rgba(18, 203, 196, 1.0);

	/* Colores por componentes */

	/* --color-componente-1: #FFC312;
	--color-componente-2: #B9D835;
	--color-componente-3: #12CBC4;
	--color-componente-4: #D980FA;
	--color-componente-5: #0652DD;
	--color-componente-6: #6F3BC4; // #A916DF;
	--color-componente-7: #E66E00;
	--color-componente-8: #B53471;
	--color-componente-9: #009432;
	--color-componente-10: #84AAF4;
	--color-componente-11: #1B1464;
	--color-componente-12: #697B77; */
	--color-componente-1: rgba(111, 59, 196, 0.7);
	--color-componente-2: rgba(236, 172, 7, 1.0);
	--color-componente-3: #e5e5e5;
	--color-componente-4: #e5e5e5;
	--color-componente-5: #e5e5e5;
	--color-componente-6: #e5e5e5;
	--color-componente-7: #e5e5e5;
	--color-componente-8: #e5e5e5;
	--color-componente-9: #e5e5e5;
	--color-componente-10: #e5e5e5;
	--color-componente-11: #e5e5e5;
	--color-componente-12: #e5e5e5;

	/* Colores de marca */
	--color-brand-green: #0C231E;
	--color-brand-dark: #2F2E5B;

	/* Bordes redondeados */
	--border-rounded: 8px;
	--border-round: 40px;
	--border-circle: 50%;

	/* Sombras */
	--shadow-base: 0 0 8px rgba(0, 0, 0, 0.25);
}

// Variables SCSS
$layout-breakpoint-xs: 460px;
$layout-breakpoint-sm: 960px;
$layout-breakpoint-md: 1220px;
$layout-breakpoint-lg: 1440px;
$layout-breakpoint-xl: 2480px;